# Node
/client/node_modules

# Vite
/client/dist

# ASP.Net
/server/src/bin
/server/src/obj

# xUnit
/server/tests/bin
/server/tests/obj

# Shared
/shared/SharedModels/bin
/shared/SharedModels/obj

# OS
.DS_Store
Thumbs.db