@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
  }

  .text-input:focus {
    @apply outline-none ring;
  }

  .btn:not(.nav-link-fix),
  .nav-link-fix > p {
    @apply shadow text-white font-bold py-2 px-4 rounded
  }
  .btn-secondary:not(.nav-link-fix),
  .nav-link-fix.btn-secondary > p {
    background-color: #BFDBF7;
    color: black;
  }
  .btn-primary:not(.nav-link-fix),
  .nav-link-fix.btn-primary > p {
    background-color: #1F7A8C;
  }
  .btn-tertiary:not(.nav-link-fix),
  .nav-link-fix.btn-tertiary > p {
    background-color: #E1E5F2;
    color: black;
  }
  .btn:not(.nav-link-fix):focus,
  .nav-link-fix > p:focus {
    @apply ring outline-none
  }
  .btn-secondary:not(.nav-link-fix):hover,
  .nav-link-fix.btn-secondary:hover > p {
    background-color: #cfe3f8;
    border-color: black;
  }
  .btn-primary:not(.nav-link-fix):hover,
  .nav-link-fix.btn-primary:hover > p {
    background-color: #348fa1;
    border-color: black;
  }
  .btn-tertiary:not(.nav-link-fix):hover,
  .nav-link-fix.btn-tertiary:hover > p {
    background-color: #f1f2f7;
    border-color: black;
  }

  select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5
  }
  select:focus {
    @apply ring-blue-500 border-blue-500
  }

  .alignment-radio > label {
    @apply block font-bold h-full w-full border rounded border-gray-300 px-2 py-5
  }

  .alignment-radio:has(input[type="radio"]:checked) > label {
    @apply bg-blue-500
  }

  .alignment-radio > label:hover {
    @apply bg-gray-100
  }

  .alignment-radio > input[type="radio"] {
    @apply hidden
  }

  .section-header {
    @apply flex flex-col gap-3 py-10
  }


}

/* Pallette in case I forget: https://coolors.co/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  line-height: 1.5;
  font-weight: 400;

  color: #DFE0E2;
  background-color: #022B3A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.75rem;
  line-height: 3rem;
}

h3 {
  font-size: 2.50rem;
  line-height: 2.75rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.25rem;
}

button,
.nav-link-fix > p {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
.nav-link-fix > p:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible,
.nav-link-fix > p:focus,
.nav-link-fix > p:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.selected-item-set {
  color: #F38851;
}

#mobile-nav-btn {
  background-color: #FFFFFF;
}


@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
