@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
  }

  .text-input:focus {
    @apply outline-none ring;
  }

  .btn {
    @apply shadow text-white font-bold py-2 px-4 rounded
  }
  .btn.btn-secondary, .btn-secondary{
    @apply bg-secondary text-black
  }
  .btn.btn-primary, .btn-primary {
    @apply bg-primary
  }
  .btn.btn-tertiary, .btn-tertiary{
    @apply bg-tertiary text-black
  }
  .btn:focus {
    @apply ring outline-none
  }
  .btn.btn-secondary:not(.disabled):hover {
    background-color: #cfe3f8;
    border-color: black;
  }
  .btn.btn-primary:hover {
    background-color: #348fa1;
    border-color: black;
  }
  .btn.btn-tertiary:not(.disabled):hover {
    background-color: #f1f2f7;
    border-color: black;
  }

  select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5
  }
  select:focus {
    @apply ring-blue-500 border-blue-500
  }

  .alignment-radio > label {
    @apply flex justify-center items-center font-bold h-full text-center w-full border rounded border-gray-300 px-2 py-5 bg-tertiary shadow-lg
  }

  .alignment-radio:has(input[type="radio"]:checked) > label {
    @apply bg-blue-300 border-black
  }

  .alignment-radio > label:hover {
    @apply bg-gray-100
  }

  .alignment-radio > input[type="radio"] {
    @apply hidden
  }

  .section-header {
    @apply card flex flex-col gap-3 py-10 px-1
  }

  .section-display {
    @apply card flex-grow flex flex-col gap-3 px-1
  }

  .section-selection {
    @apply flex items-center justify-center gap-1
  }

  .nav-link-fix {
    @apply text-center
  }
}

/* Pallette in case I forget: https://coolors.co/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  line-height: 1.5;
  font-weight: 400;

  color: #DFE0E2;
  background-color: #022B3A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.25rem;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 0px 5px #888888;
}

.btn > p {
  text-align: center;
}

.btn:not(.disabled):hover {
  border-color: #646cff;
}
.btn:focus,
.btn:focus-visible{
  outline: 4px auto -webkit-focus-ring-color;
}

.btn.disabled {
  cursor: not-allowed;
  background-color: #d1d1d1;
  color: #797979;
}

.selected-item-set {
  color: #e06021;
}

main {
  background-color: #E1E5F2;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1%
}

.card {
  background-color: white;
  width: 96%;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888888;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

input[type="number"] {
  border: 1px solid gray;
  border-radius: 2px;
  color: black;
  padding: 2px;
  width: 5rem;
}

.stroke-secondary {
  stroke: #BFDBF7;
}

.bg-primary {
  background-color: #1F7A8C;
}

.bg-secondary {
  background-color: #BFDBF7;
}

.bg-tertiary {
  background-color: #E1E5F2;
}

.draggable-div {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.dragged-div {
  border-color: #cfe3f8;
  border-width: 2px;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
